<!--
    For when a user wants to see details about a hotel
    - name of hotel
    - address
    - general description
    - average cost per room
    - link directing to hotet's official site
    - reviews of the hotel
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="hotel_details.css">
    <title>Hotel Details</title>
</head>

<style type="text/css">
    td{
        text-align: center;
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Hotel</th>
            <th>Address</th>
            <th>Average Cost</th>
            <th>Rating</th>
        </tr>
        {%for i in range(0, len)%}
        <tr>
            <td>{{hotels[i].getName()}}</td>
            <td>{{hotels[i].getAddress()}}</td>
            <td>${{hotels[i].getAvgCost()}}</td>
            <td>{{hotels[i].getRatings()}}/5</td>
            <td><a href={{hotels[i].getHotelLink()}}>Offical Website</a></td>
            <td><button href="">View more details</button></td> <!--send user to specific hotel page w/ table data. still implementing-->
        </tr>
        {%endfor%}
    </table>
</body>
</html>