<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
</head>
<body>
    <h1>{{errorMsg}}</h1>
    <h3>Login</h3>
    <form action="{{ url_for('login') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="emailLogin" id="emailLogin" placeholder="Enter your email">
        <br><br>
        <input type="password" name="pwLogin" id="pwLogin" placeholder="Enter your password">
        <br><br>
        <input type="submit" name="loginBut" value="Login">
    </form>
    <h3>Signup</h3>
    <form action="{{ url_for('login') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="emailSignup" id="emailSignup" placeholder="Enter your email">
        <br><br>
        <input type="password" name="pwSignup" id="pwSignup" placeholder="Enter a password">
        <br><br>
        <input type="password" name="confPW" id="confPW" placeholder="Confirm password">
        <br><br>
        <input type="submit" name="SignupBut" value="Signup">
    </form>
</body>
</html>