<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="hotel_details.css">
    <title>Bookmarked hotels</title>
</head>

<style type="text/css">
    td{
        text-align: center;
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<body>
    <h3>Here are your saved hotels</h3>
    <table style="width:100%">
        <tr>
            <th>Hotel</th>
            <th>Address</th>
            <th>Average Cost</th>
            <th>Rating</th>
        </tr>
        <!--
            add if statements
            if hotel list == 0, print("go bookmark some hotels")
            else, display hotels that are bookmarked
        -->
        {% for hotel in hotels %}
        <tr>
            <td>{{hotel[0]}}</td>
            <td>{{hotel[1]}}</td>
            <td>{{hotel[2]}}</td>
            <td>{{hotel[3]}}/5</td>
            <td><a href="/userSavedHotels/{{hotel[0]}}"><button>Delete from Bookmarks</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index_page') }}"><button>Go back to main page</button></a>
</body>
</html>